

/*
#605a56
#844721
#dfd3c3
#fff8ee
*/

header{
    background-color: #844721;
    position: absolute;
    z-index: 50;
    font-size: 24px;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
}
#div_flexbox{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    border: inset 5px black;
    border-radius: 2px;
    padding-top: 3vh;
}
#div_homepage_body{
    margin-top:100px;

}
header a{
    border: inset 1px black;
    border-radius: 1px;
}
header a:hover{
    color:red;
    transition: all 0.5s;
}
#instructor_grid{
    display:grid;
    grid-template-columns: auto auto;
}
#prof_image{
    width: 30vw;
}
table{
    width:100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid black;
   
  }
